@import url(../../App.css);
@import url(../Home/Home.css);

/*! Product site wrapper style here  */

.product__site-wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr;
	justify-content: center;
	min-height: 90vh;
}

/** Filter section style here */
.site__filter-sec > * {
	margin-left: 1rem;
	height: 100%;
}

.site__filter-sec form {
	align-items: flex-start;
}

.filter__sec-title h3 {
	margin-right: auto;
}

/** Mobile filter style  */
.filter__btn {
	z-index: 999;
	display: none;
	width: 4rem;
	height: 4rem;
	font-size: 1.5rem;
	bottom: 3rem;
	right: 2rem;
}

.filter-mobile{
	position: fixed;
	padding-top: 2rem;
	top: 0;
	z-index: 199;
	width: 70%;
	height: 100%;
	background-color: var(--color-text-bg);
}

/** Prodcuts section cards style here */
.site__product-sec {
	padding: 0 1rem;
}

.product__no-item {
	font-size: 2rem;
	margin-top: 2rem;
}

.product__no-item span {
	font-weight: 100;
}

/** Gaps btw cards */
.product__sec-cards {
	gap: 1rem;
	margin-bottom: 1rem;
}

.card__e-commerce {
	max-height: 30rem;
}

/* Product card style here */

.details__sec-title {
	color: var(--text-sec);
}

.card__upper-icon i {
	background-color: var(--color-text-bg);
	z-index: 99;
}

.card__sec-lower {
	min-height: 8rem;
}

/*! Media queries here  */
@media screen and (max-width: 1100px) {
	.product__site-wrapper {
		grid-template-columns: 1fr 4fr;
	}
	.product__sec-cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 800px) {
	.product__site-wrapper {
		grid-template-columns: 1fr 3fr;
	}
	.product__sec-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.product__site-wrapper {
		grid-template-columns: 1fr;
	}
	.product__sec-cards {
		grid-template-columns: repeat(1, 1fr);
	}
	.filter-desktop {
		display: none;
	}
	.filter__btn {
		display: flex;
	}
}
