
/*! Media queries here  */
@media screen and (max-width: 1100px) {
	.wishlist__sec-cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 800px) {
	.wishlist__sec-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.wishlist__sec-cards {
		grid-template-columns: repeat(1, 1fr);
	}
    .wishlist__no-item{
        flex-direction: column;
    }
}
